{# speakers-block.twig #}

{{ attach_library('demo/speakers-block') }}
{# {{ attach_library('bartik/messages') }} #}

<div class="speakers-block">
  {% if title %}
  <h2 class="speakers-block__title">{{ title }}</h2>
  {% endif %}

  {% if description %}
  <div class="speakers-block__description">
    <p>{{ description }}</p>
  </div>
  {% endif %}

  <div class="speaker-modal" id="speaker-modal">
    <div class="speaker-modal__content">

      <div class="speaker-modal__header">
        <div class="speaker-modal__image">
          <img id="modal-image" src="" alt="">
        </div>
        <div class="info">

          <div class="speaker-modal__info">
            <p id="modal-name" class="speaker-modal__name"></p>
            <p id="modal-designation" class="speaker-modal__designation"></p>
            <p id="modal-company" class="speaker-modal__company"></p>
          </div>

          <div class="social">
            <span><a id="social-drupal" href=""><img src="/themes/custom/demo/components/00-examples/speakers-block/img/drupal.svg" alt=""></a></span>
            <span><a id="social-x" href=""><img src="/themes/custom/demo/components/00-examples/speakers-block/img/x.svg" alt=""></a></span>
            <span><a id="social-linkedin" href=""><img src="/themes/custom/demo/components/00-examples/speakers-block/img/linkedin.svg" alt=""></a></span>
          </div>
        </div>
      </div>


      <div class="speaker-modal__body">
        <p id="modal-bio"></p>
      </div>

      <button class="speaker-modal__close" id="modal-close">&times;</button>
    </div>
  </div>

  {# Speakers Carousel #}
  {% if speaker %}
  <div class="splide speakers-carousel">
    <div class="splide__track">
      <div class="splide__list">
        {% for item in speaker %}
        {% set speaker_data = item['#paragraph'] %}
        {% if speaker_data %}
        {% set unique_id = 'speaker-' ~ loop.index %}

        {# Fetching image URL from media reference #}

        {% set image_url = '' %}
        {% if speaker_data.field_photo.entity %}
        {% set media = speaker_data.field_photo.entity %}
        {% if media.field_media_image.entity.uri.value %}
        {% set image_url = file_url(media.field_media_image.entity.uri.value) %}
        {% endif %}
        {% endif %}

        {# {{ dump(speaker_data.field_social_drupal.value[0].uri) }} #}
        <div class="splide__slide">
          <div class="speaker-card" id="{{ unique_id }}" data-name="{{ speaker_data.field_name.value }}" data-designation="{{ speaker_data.field_designation.value }}" data-organization="{{ speaker_data.field_organization.value }}" data-bio="{{ speaker_data.field_bio.value }}" data-image="{{ image_url }}" data-social-drupal="{{ speaker_data.field_social_drupal.value[0].uri|replace({'internal:': '', 'public:': ''}) }}" data-social-x=" {{ speaker_data.field_social_drupal.value[0].uri|replace({'internal:': '', 'public:': ''}) }}" data-social-linkedin="{{ speaker_data.field_social_drupal.value[0].uri|replace({'internal:': '', 'public:': ''}) }}">

            <div class="speaker-card__info">
              <div class="speaker-card__photo">
                {% if image_url %}
                <img src="{{ image_url }}" alt="{{ speaker_data.field_name.value }}">
                {% endif %}
              </div>
              <p class="speaker-card__name">{{ speaker_data.field_name.value }}</p>
              <p class="speaker-card__designation">{{ speaker_data.field_designation.value }}</p>
              <p class="speaker-card__company">{{ speaker_data.field_organization.value }}</p>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

  {% if footertext or cta %}
  <div class="speakers-block__footer">
    <div class="speakers-block__footer-content">
      {% if footertext %}
      <p class="speakers-block__footer-text"> {{- footertext -}}
        <img src="/themes/custom/demo/components/00-examples/speakers-block/img/arrow.svg" alt="Arrow" class="speakers-block__arrow">
      </p>
      {% endif %}
      {% if cta %}
      {{ cta }}
      {% endif %}
    </div>

  </div>
  {% endif %}
</div>